@media (max-width: 767px) {
    .navbar .container {
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .navbar img {
      width: 150px;  /* Mobilde logo boyutunu küçültme */
    }
  
    .navbar .d-flex {
      flex-direction: column !important;
      align-items: flex-start;
    }
  
    .navbar .form-control {
      width: 100%;
    }
  
    .navbar .d-flex.align-items-center {
      margin-top: 10px;
    }
  }
  